@model List<Movie>
@{
    ViewData["Title"] = "Home Page";
    ViewData["TitleHome"] = "Esta es mi Home";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["TitleHome"]</h1>
    <p> </a>.</p>
</div>

